*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color: #121315;
    color: white;
}

.boxed{
    background-color: rgba(255, 255, 255, .08);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    padding: .5rem 0 .8rem .5rem;
    border-radius: 5px;
}

.post-title{
    margin-top: 1rem;
    text-align: center;
    font-family: 'Aldrich', sans-serif;
}
.topic{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    border-bottom: 1px ridge rgba(255, 255, 255, .2);
}

span a{
    color: white;
    text-decoration: none;
}

.topic h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 1.8rem;
}

.nft{
    color: #ca159b;
}

.nft-icon span a{
    /* margin-right: .3rem; */
    padding: .5rem .7rem;
    text-decoration: none;
}

.nft-icon span a:hover{
    background-color: rgba(255, 255, 255, .2);
    border-radius: 4px;
    transition: .5s background-color;
}

.nft-icon a.active{
    background-color: rgba(255, 255, 255, .1);
    border-radius: 4px;
}

.profile-image{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.profile-image-content{
    display: flex;
}

.profile-image-content span{
    margin-right: .8rem;
    margin-top: .4rem;
}

.sub-content{
    margin-left: .5rem;
    margin-right: .7rem;
}

.sub-content .eth{
    text-transform: uppercase;
    opacity: revert;
    color: #ca159b;
}

.profile-image-content2{
    display: flex;
}

.profile-image-content2 img{
    margin-left: .5rem;
}

.profile-image-content2 p{
    font-size: .8rem;
}

.profile-image-content p{
    font-size: .8rem;
}

.profile-image img{
    width: 2rem;
    border-radius: 50%;
}

.notify{
    padding: .6rem;
}
.notify:hover,
.notify:focus,
.notify:checked{
    background-color:  rgba(255, 255, 255, .1);
    border-radius: 50%;
    transition: .5s background-color;
}

.plus a{
    margin-left: -1.1rem;
}

.plus a:hover{
    color: #ca159b;
    transition: .5s color;
}

.checked{
    color: lightblue;
    position: relative;
    top: 1rem;
    left: -.3rem;
}

.dota {
    width: .3rem;
    height: .3rem;
    background-color: #ca159b;
    border-radius: 50%;
    margin-left: -1rem;
  }

  .header-content{
    margin-top: 1rem;
    line-height: 2rem;
}

.header-content h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
}

.header-text-content{
    text-align: center;
}

  .side-icon span a{
    margin: 0 1rem 0 0;
    background-color: rgba(255, 255, 255, .1);
    padding: .7rem;
    border-radius: 50%;
}

.side-icon span a:hover{
    background-color: rgba(255, 255, 255, .2);
}

.side-icon{
    margin-top: 2rem;
    padding-left: 1rem;
}

.love{
    color: red;
}

.option{
   color: blue; 
}

.cancel{
    color: azure;
}

.download{
    color: yellow;
}

.nft-image{
    margin-top: 3rem;
}


.nft-image img{
    width: 17rem;
    border-radius: 5px;
    max-width: 1000px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.button{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 1.5rem;
    
}

.buy{
    background-color: white;
    padding: .5rem 2rem;
    border-radius: 7px;
}

.buy:hover{
    background-color: rgb(39, 37, 37);
    color: white; 
}

.buy p{
    font-family: 'Poppins', sans-serif;
}

.place{
    background-color:  rgb(39, 37, 37);
    padding: .5rem 2rem;
    border-radius: 7px;
}

.place:hover{
    background-color: white;
    color: white; 
}


a{
    text-decoration: none;
    color: black;
}


.price-text1{
    margin-top: .5rem;
}

.price-text1 h1:last-child{
    color: white;
}


footer{
    background-color: black;
    width: 100%;
  }

  footer h2{
    margin-top: 3rem;
  }
  footer ul{
    list-style-type: none;
  }

  footer li{
    margin-top: .5rem;
  }

  .third-container{
    padding: 2rem 2rem 2rem;
  }


 .nft-brand h2{
  margin-bottom: 2rem;
  font-family: 'Aldrich', sans-serif;
 }


 .nft-brand p{
  margin-top: .5rem;
 }

 .social-media{
  margin-top: 1rem;
 }

 .social-media span a{
  margin-left: .5rem;
  font-size: 1.5rem;
 }

 .social-media span a:hover{
  color: #ca159b;
 }

 .forth-section h2{
  margin-bottom: 1rem;
  font-family: 'Aldrich', sans-serif;
 }

 .nft-email input{
  width: 18rem;
  padding: .8rem .5rem;
  border-radius: 5px;
  border: none;
 }

 .nft-email span{
  position: relative;
  left: -2rem;
  color: #ca159b;
 }


@media screen and (min-width: 800px){
    .nft-icon span a{
        margin-right: 2rem;
        padding: .5rem 1rem;
    }

    .header-text{
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }

    .header-text-content{
        text-align: center;
    }
    
    .header-text-content{
        text-align: left;
    }

    .header-content h1{
        font-family: 'Aldrich', sans-serif;
        font-size: 3rem;
    }

    .header-content{
        line-height: 3rem;
    }
    

    .nft-image{
        margin-top: 1rem;
    }

    .forth-section{
        display: flex;
        justify-content: space-between;
      }

}

@media screen and (min-width: 1100px){
    .nft-image img{
        width: 20rem;
        border-radius: 5px;
        max-width: 1000px;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    

    .price{
        display: flex;
        margin-top: -10rem;
        margin-left: 2.5rem;
    }

    .price-text,
    .buy{
        margin: 0 2rem;
    }

    .price-text1{
        margin-top: 0;
    }
    .button{
        display: flex;
        justify-content: left;  
        margin-left: 2.5rem;
    }

    .place{
        margin-left: 2rem;
    }

}








